/* Reset de estilo básico */
* {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita scroll vertical y horizontal */
}

body {
  min-height: 100vh;
  padding-top: 70px;
  overflow-x: hidden; /* Asegura que no haya scroll horizontal */
}

/* Header styles */
.mainPageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #0c0c1f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #68cc8f;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-img-size-index {
  width: 50px;
  height: auto;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-button {
  text-decoration: none;
  font-size: 20px;
  color: #68cc8f;
}

.icon-button:hover {
  color: #68cc8f;
}

.switchButton {
  cursor: pointer;
  font-size: 16px;
  color: #f116cc00;
  padding: 5px;
  transition: color 0.3s;
}

.switchButton:hover {
  color: #000000;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .sidebar {
    width: 25%;
  }
  
  .content {
    width: 75%;
  }
  
  .match h2 {
    font-size: 1.5rem;
  }
  
  .match p {
    font-size: 0.9rem;
  }
}
